html {
    height: fit-content;
}
head{
    font-family: 'Montserrat', sans-serif;
}
body {

    background-image: url("background-image.png");
    background-color: blanchedalmond;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    text-align: center;
    border: 3px;
}
.dotted {
    border-top: 5px gray dotted;
    width: 50%;
    size: 50%;
    text-align: center;
}
table,td {
    border:1px solid gray;
}
button{
    color: white;
    background-color: red;
}